* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue; /* radgan moceumul davalebaze yvelaferi lurjadaa, magitom miveci bodydan lurji */
}

/* Header starts here */

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
}

.navbar-ul {
    display: flex;
    list-style: none;
}

.navbar-li {
    margin: 0 30px 0 0 ;
}

.navbar-li a {
    text-decoration: none;
    color: white;
}

#contact-button a { /* mindoda, rom nth-child() - it dameselectebina, magram ar gamovida da #-it vkeni */
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 18px 43px;
}  

/* Header ends here */
/* Section starts here */

.section-content {
    display: flex;
    justify-content: space-evenly;
}

.first-image, .third-image {
    margin-top: 120px;
    width: 607px;
    height: 497px;
}

.second-image {
    width: 707px;
    height: 597px;
}

.second-image-box {
    position: relative;
}

/* Section ends here*/
/* dots and arrows starts here */

.white-dot {
    position: absolute;
    display: inline-block;
    left: 60px;
    bottom: 50px;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}

.first-gray-dot {
    position: absolute;
    display: inline-block;
    left: 80px;
    bottom: 50px;
    height: 10px;
    width: 10px;
    background-color: #fff;
    opacity: 30%;
    border-radius: 50%;
}

.second-gray-dot {
    position: absolute;
    display: inline-block;
    left: 100px;
    bottom: 50px;
    height: 10px;
    width: 10px;
    background-color: #fff;
    opacity: 30%;
    border-radius: 50%;
}

.gray-arrow-picture { /* raxan SVG formatia grayscale fers ar macvleinebs, png-ze gadaviyvane da arc mere sheucvala */ 
    position: absolute;
    left: 580px;
    bottom: 42px;
}

.white-arrow-picture {
    position: absolute;
    left: 620px;
    bottom: 42px;
}

/* dots and arrows ends here */